.navbar {
  --text-color: #f2f2f2;
  --text-color-inverse: #0d0d0d;
  --background: transparent;
  --background-inverse: #f2f2f2;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  transition: 0.5s;
  background-color: transparent;

  &__nav {
    display: flex;
    height: 100%;
    align-items: center; /*Vertical align*/
    padding: 0 1rem;
  }

  &__logo {
    margin-left: 1rem;

    &__letters {
      text-decoration: none;
      color: var(--text-color);
      font-family: var(--titles-font);
      font-size: 1.5rem;
      letter-spacing: 3px;
    }

    &__icon {
      width: 1.5rem;
    }
  }
}

.spacer {
  flex: 1; /* Takes all the available space between the space that is occupied by the two logo and the navigation items*/
}

.navbar__links {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    padding: 0 0.5rem;
  }

  .navbar__link {
    color: var(--text-color);
    padding: 0 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;

    &.active,
    &:hover {
      color: var(--text-color-inverse);
      background: var(--background-inverse);
    }
  }
}

@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }
}

@media (min-width: 769px) {
  .navbar__toggle-button {
    display: none;
  }
}
