.weather {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
  justify-content: space-evenly;

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  &__temp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0;
  }

  &__temp-icon {
    width: 25%;
  }

  &__temp-min-max {
  }
}
