.weather {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  justify-content: space-evenly;

  &__day {
    font-size: 6rem;
  }

  &__season {
    &__text {
      font-size: 3rem;
    }
    &__icon {
      width: 5rem;
    }
  }

  &__temp {
    &__icon {
      width: 5rem;
    }
    &__text {
      font-size: 2rem;
    }
  }

  &__temp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0;
  }

  &__temp-icon {
    width: 25%;
  }
}

@media screen and (min-width: 769px) {
  .weather {
    flex-direction: row;

    &__season__icon {
      width: 8rem;
    }
  }
}
