$title-font-family: "Permanent Marker", cursive, sans-serif;

$txt-font-family: "Varela", sans-serif;

$color-light: #f2f2f2;
$color-dark: #0d0d0d;
$color-red: #f21905;
$color-blue: #4a96d9;

$color-summer: #f2c53d;

$button-font-size: 1.5rem;

$header-height: 6rem;

$display-mobile: 426px;
$display-tablet: 769px;
$display-desktop: 1025px;
