$titles-font: "Permanent Marker", cursive, sans-serif;

$text-font: "Varela", sans-serif;

$text-color: #f2f2f2;
$text-color-inverse: #0d0d0d;

$background: #0d0d0d;
$background-inverse: #f2f2f2;

$button-font-size: 1rem;

$headerHeight: 60px;
