$logo-font: "Permanent Marker", cursive, sans-serif;

$txt-font: "Open Sans", sans-serif;
$btn-font: "Open Sans Condensed", sans-serif;

$color-light: #f2f2f2;
$color-dark: #0d0d0d;
$color-red: #b83b1c;

$color-hot: linear-gradient(to right, #ff512f, #f09819);
$color-cold: linear-gradient(to right, #4ca1af, #c4e0e5);

$btn-size: 2rem;

$header-height: 6rem;

$display-mobile: 425px;
$display-tablet: 768px;
$display-desktop: 1024px;
