@import "../../../app/variables.scss";
@import "../../../app/mixins.scss";

.header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  transition: 0.5s;
  background-color: black;
  z-index: 500;

  &__nav {
    display: flex;
    height: 100%;
    align-items: center; /*Vertical align*/
    padding: 0 1rem;
  }

  &__logo {
    margin-left: 1rem;

    &__letters {
      text-decoration: none;
      color: $color-light;
      font-family: $title-font-family;
      font-size: 2rem;
      letter-spacing: 3px;
      cursor: pointer;
    }

    &__icon {
      width: 2rem;
    }
  }

  &__links {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    li {
      padding: 0 0.5rem;
    }

    &__link {
      font-size: $button-font-size;
      color: $color-light;
      padding: 0 20px;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.5s;

      &.active,
      &:hover {
        color: $color-color;
      }
    }
  }

  .spacer {
    flex: 1; /* Takes all the available space between the space that is occupied by the two logo and the navigation items*/
  }
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
}
.header__links {
  display: none;
}

// devices from 769px and larger
@media screen and (min-width: 769px) {
  .header__toggle-button {
    display: none;
  }

  .header__links {
    display: flex;
  }
}

// @media (max-width: 768px) {
//   .header__links {
//     display: none;
//   }
// }

// @media (min-width: 769px) {
//   .header__toggle-button {
//     display: none;
//   }
// }
