html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Varela", sans-serif;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

a {
  font-weight: 500;
  font-size: 1.2rem;
}


// /*colors

// #F2F2F2

// #eee2e2	(238,226,226)

// #e3c09d	(227,192,157)
 
// #e39776	(227,151,118)

// #dd6345	(221,99,69)

// #b83b1c	(184,59,28)


// */


// /* FONTS

// Open-sans
// <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
// font-family: 'Open Sans', sans-serif;

// Roboto
// <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
// font-family: 'Open Sans', sans-serif;

// Varela
// <link href="https://fonts.googleapis.com/css?family=Varela&display=swap" rel="stylesheet">
// font-family: 'Varela', sans-serif;



// /*
