@import "./app/variables.scss";
@import "./app/mixins.scss";

*,
*::after,
*::before {
  /* Ensure that the height of the element includes the  box border, not just the content */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100vw;
  line-height: 1.5;
  font-size: 62.5%; //equivalent to 10px
  font-family: $txt-font-family;
}

body {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  font-size: 1.2rem;
}

button {
  font-weight: 600;
  font-family: "Varela", sans-serif;
}

.page-container {
  position: relative;
  min-height: 100%;
}

.vertical-spacer {
  height: 100px;
  margin: 20px 0 -50px 0;
  background: transparent; /* you'll need this if #container's parent element has a different background from #container itself */
}

//! COLORS

// #F2F2F2

// #eee2e2	(238,226,226)

// #e3c09d	(227,192,157)

// #e39776	(227,151,118)

// #dd6345	(221,99,69)

// #b83b1c	(184,59,28)

// #0D0D0D

//! FONTS

// Open-sans
// <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
// font-family: 'Open Sans', sans-serif;

// Roboto
// <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
// font-family: 'Open Sans', sans-serif;

// Varela
// <link href="https://fonts.googleapis.com/css?family=Varela&display=swap" rel="stylesheet">
// font-family: 'Varela', sans-serif;
